@mixin keyframes($animation-name){
    
}

.fadeIn{
    animation-name: fadeInAnime;
    // スピード
    animation-duration: 1.5s;
    // アニメーションの実行の前後にどう対象にスタイルを適用するかを設定
    animation-fill-mode: both;
}

@keyframes fadeInAnime {
    0%{
        opacity: 0;
        transform: translateY(-10px);
    }

    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}
